  <div class="product-top">
    <a routerLink="/product-detail/{{product.id}}"><img src="{{product.imageUrl}}"></a>
    <div class="overlay-right">
      <button type="button" class="btn btn-secondary" title="Quick Shop">
        <i class="fa fa-eye"></i>
      </button>
      <button type="button" class="btn btn-secondary" title="Add to WishList">
        <i class="fa fa-heart-o"></i>
      </button>
      <button type="button" class="btn btn-secondary" title="Add to Cart">
        <i class="fa fa-shopping-cart"></i>
      </button>
    </div>
  </div>
  <div class="product-bottom text-center">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-half-o"></i>
    <h3>{{product.id}}</h3>
    <h3>{{product.type}}</h3>
    <h5>{{product.price}}</h5>
  </div>

